#wrapper {
	height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
}

.App {
	width: 275px;
	height: 400px;
}

.Calculator {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 100%;
	background: black;
}

.Display {
	position: relative;
	width: 100%;
	height: 20%;
	background: black;
}
