.board-row {
	display: table;
}

.Square {
	float: left;
	width: 50px;
	height: 50px;
	font-size: 30px;
}

.Moves {
	border: 1px solid;
	width: 200px;
}


.Move {
	border: 1px solid;
	width: 200px;
}
